* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: none;
  outline: none;
}


body {
   background-color: #ff5233;
}

header {
   width: 100%;
   background-color: #ff3c1a;
}

.tables h4 {
   display: inline-block;
}

.tables {
    display: inline-block;
    background-color: white;
    padding: 8px;
    opacity: 0.5;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
}

.search {
    display: inline-block;
    background-color: white;
    padding: 8px;
    opacity: 0.5;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 750px;
}


.title {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 580px;
}

.icons {
    display: inline-block;
}

.icons span {
    display: inline-block;
    background-color: white;
    padding: 8px;
    font-size: 20px;
    opacity: 0.5;
    border-radius: 5px;
}
.icons img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    top: 8px;
    right: 20px;
  }
