/*estilos generales*/
* {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-inlineblock {
    display: inline-block;
}

.d-none{
    display: none;
}

.m-right5 {
    margin-right: 0.5em;
}

input {
    border: none;
    outline: none;
}

body {
    background-color: #e6ac00;
}
/*color y ancho de encabezado*/
header {
    width: 100%;
    background-color: #cc9900;
}
/*estilos de el cuadro tablero*/
.tables h4 {
    display: inline-block;
}

.tables {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 0.5em;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    margin: 0.3em;
}
/*estilos de el cuadro buscador*/
.search {
    display: inline-block;
    background:rgba(255,255,255,.3);
    padding: 0.5em;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    margin-right: 770px;
}

.search input {
    background:transparent;
}
/*estilos de el titulo*/
.title {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 650px;
}
/*estilos de los iconos y foto de usuario*/
.icons {
    display: inline-block;
}

.icons span {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    padding: 0.5em;
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
}
.icons img {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    right: 80px;
  }
/*estilos de la seccion uno*/
.codeChallenges {
    display: inline-block;
    color: white;
    font-size: 1.1em;
}

.codeChallenges h3 {
    margin: 10px;
    display: inline-block;
}


.codeChallenges a {
    color: white;
}
.codeChallenges .star {
    display: inline-block;
    margin: 0 20px;
}

.codeChallenges h5 {
    display: inline-block;
}

p {
    display: inline-block;
    font-weight: 900;
    margin-left: 760px;
}
/*estilos de el contenedor de targeta*/
#container {
    white-space: nowrap;
    padding-top: 3.5em;

}
/*estilos de la lista creada*/

.list {
    width: 17em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: #cc9900;
    padding: 0.6em;
    color: white;
    border-radius: 5px;
}
/*estilos de la lista creada desde js*/
.newlist {
    width: 15em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: #E2E4E6;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 5px;
}
/*estilos a agregar a el contenedor creado desde js*/
.add {
    width: 15em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: #E2E4E6;
    padding: 0.6em;
    border-radius: 5px;
    color: gray;
}

.add:hover {
    background-color: lightgray;
}
/*estilos de el texto de las targetas creado desde js*/
.text-cards {
    width: 15em;
    height: 3em;
    margin: 0.6em 0.5em;
    background-color: white;
    padding: 0.6em;
    border-radius: 5px;
}
/*Estilo de opacidad a arrastrar las targetas*/
.opacidad {
    background-color: grey;
    opacity: 0.5;
    cursor: pointer;
}
/*estilos de el contenedor de targetas movible*/
.trello-body {
    padding: 0.5em;
    margin: 0.5em;
    width: 17em;
    background-color: #E2E4E6;
    vertical-align: top;
    border-radius: 5px;
    display: inline-block;
}

.bg {
    background-color: #cc9900;
}
/*estilos de el formulario creado en html*/
.newform {
    width: 17em;
    height: auto;
    margin: 0.6em 0.5em;
    padding: 0.3em;
    background-color: #E2E4E6;
    border-radius: 5px;
}
/*estilos de el input creado en html*/
.firstinput {
    width: 94%;
    margin: 0.3em 0.7em;
    padding: 0.3em;
    border-radius: 5px;
    border: none;
}
/*estilos de el boton creado en html*/
.boton {
    display: block;
    padding: 0.5em 3em;
    margin: 0.3em 0.7em;
    background-color: #5BAE45;
    border: none;
    color: white;
    border-radius: 5px;
}
/*estilos de el textarea creado desde js*/
.textarea {
    width: 92%;
    margin: 0.3em 0.7em;
    padding: 0.3em;
    border-radius: 5px;
    resize: none;
    outline: none;
}
